In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')

In [4]:
df = pd.DataFrame([[1, 'one', 'two'], [2, 'thr', 'four']], columns=['id', 'col1', 'col2'])

In [10]:
pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'], var_name='var', value_name='val')

   id   var   val
0   1  col1   one
1   2  col1   thr
2   1  col2   two
3   2  col2  four

In [30]:
df = pd.concat([df, pd.DataFrame([[3, 'one', 'five']], columns=['id', 'col1', 'col2'])])

In [14]:
dflookup = pd.DataFrame(columns=['col1', 'col2'])

In [17]:
mg = pd.merge(left=df, right=dflookup, how='left', left_on=['col1', 'col2'], right_on=['col1', 'col2'])

In [16]:
source = ['"PictureHref"', '"EndDate"', '"StartDate"', '"NoteDate"', '"IsClassified"', '"ListingId"', '"Amenities"', '"AvailableFrom"', '"Bathrooms"', '"Bedrooms"', '"BestContactTime"', '"IdealTenant"', '"ListingGroup"', '"MaxTenants"', '"Parking"', '"PetsOkay"', '"PriceDisplay"', '"PropertyId"', '"PropertyType"', '"SmokersOkay"', '"StartPrice"', '"Title"', '"RentPerWeek"', '"Whiteware"', '"Address"', '"GeographicLocation_Latitude"', '"GeographicLocation_Longitude"', '"GeographicLocation_Easting"', '"GeographicLocation_Northing"', '"AgencyReference"', '"Category"', '"CategoryPath"', '"HasEmbeddedVideo"', '"HasGallery"', '"IsBold"', '"IsFeatured"', '"IsHighlighted"', '"IsSuperFeatured"', '"ListingLength"', '"ReserveState"', '"IsBoosted"', '"Agency_Id"', '"SuburbId"']
dest = ['photo_main', 'end_date', 'start_date', 'note_date', 'is_classified', 'id_listing_tm', 'amenities', 'available_from', 'bathrooms', 'bedrooms', 'best_contact_time', 'ideal_tenant', 'listing_group', 'max_tenants', 'parking', 'pets_okay', 'price_display', 'property_id', 'property_type', 'smokers_okay', 'start_price', 'title', 'rent_per_week', 'whiteware', 'address', 'latitude', 'longitude', 'easting', 'northing', 'agency_reference', 'category', 'category_path', 'has_embedded_video', 'has_gallery', 'is_bold', 'is_featured', 'is_highlighted', 'is_super_featured', 'listing_length', 'reserve_state', 'is_boosted', 'id_agency_tm', 'id_suburb_tm', 'id_rental_listing']
print(len(source))
print(len(dest))

43
44

In [38]:
dfg = df.groupby(['col1', 'col2']).mean()

In [93]:
dfg

           id
col1 col2
one  five   4
     two    1
thr  four   2

In [72]:
a = dfg['id'] >= 2

In [92]:
dfg.loc(axis=0)['one', 'five'] = 4

In [63]:
idx = pd.IndexSlice

In [69]:
dfg.loc[idx[:, ['two', 'four']], :]

           id
col1 col2
one  two    1
thr  four   2