In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import datetime
import requests
import json
import ETLTools


class LocationMetadata(ETLTools.ETLTools):
    def __init__(self, **kwargs):
        # connection object for staging
        if kwargs.get('connect_staging', None):
            self.con_staging = ETLTools.DatabaseConnection(
                kwargs['st_user'], kwargs['st_passwd'], kwargs['st_host'], kwargs['st_db'], kwargs['st_schema'])
        # connection object for website
        if kwargs.get('connect_website', None):
            self.con_website = ETLTools.DatabaseConnection(
                kwargs['ws_user'], kwargs['ws_passwd'], kwargs['ws_host'], kwargs['ws_db'], kwargs['ws_schema'])
        # run location api
        if location_api:
            data = requests.get(location_api)
            area = json.loads(data.text)
            self.districts = json_normalize(area, 'Districts', ['LocalityId', 'Name'], meta_prefix='LocalityMetadata')
            self.region_df = self.run_region()
            self.district_df = self.run_district()
            self.suburb_df = self.run_suburb()
            self.location_df = None
            self.adjacent_suburbs_df = None
            self._region_updated = False
            self._district_updated = False
            self._suburb_updated = False
            self._location_updated = False
            self._adjacent_suburbs_updated = False

    def location(self):
        """
        :return: normalised dataframe of all location trademe-ids and their names
        """
        suburbs_list = pd.DataFrame(columns=['SuburbId', 'Name', 'DistrictId'])
        for index, row in self.districts.iterrows():
            suburbs = json_normalize(json.loads(json.dumps(row['Suburbs'])), meta=['SuburbId', 'Name'])
            suburbs = suburbs.assign(DistrictId=row['DistrictId'])
            suburbs = suburbs.drop('AdjacentSuburbs', axis=1)
            suburbs_list = pd.concat([suburbs_list, suburbs])

        locations = pd.merge(left=self.districts.drop('Suburbs', axis=1), right=suburbs_list,
                             how='inner', left_on='DistrictId', right_on='DistrictId',
                             suffixes=('_district', '_suburb'))
        locations.columns = ['id_district_tm', 'district_name', 'id_region_tm',
                             'region_name', 'suburb_name', 'id_suburb_tm']
        locations['id_suburb_tm'] = locations['id_suburb_tm'].apply(int)  # suburbs is decimal for some reason
        return self.trim_dataframe(locations, ['district_name', 'region_name', 'suburb_name'])

    def run_region(self):
        """Populates self.region_df for `region`. Runs in the constructor."""
        region_df = self.location()[['id_region_tm', 'region_name']]
        region_df['last_updated'] = datetime.datetime.now()
        region_df = region_df.rename(columns={'region_name': 'name'})
        return region_df.drop_duplicates(subset=['id_region_tm', 'name'])

    def run_district(self):
        """Populates self.district_df for `district`. Runs in the constructor."""
        district_df = self.location()[['id_district_tm', 'district_name']]
        district_df['last_updated'] = datetime.datetime.now()
        district_df = district_df.rename(columns={'district_name': 'name'})
        return district_df.drop_duplicates(subset=['id_district_tm', 'name'])

    def run_suburb(self):
        """Populates self.suburb_df for `suburb`. Runs in the constructor."""
        suburb_df = self.location()[['id_suburb_tm', 'suburb_name']]
        suburb_df['last_updated'] = datetime.datetime.now()
        suburb_df = suburb_df.rename(columns={'suburb_name': 'name'})
        return suburb_df.drop_duplicates(subset=['id_suburb_tm', 'name'])

    def run_location(self):
        """Populates self.location_df for database table `location`"""
        if not (self._region_updated and self._district_updated and self._suburb_updated):
            print("Warning: Running location table without having updated district, region and suburb"
                  " in this class instance")
        location_df = self.location()[['id_district_tm', 'id_region_tm', 'id_suburb_tm']]
        for tbltype in ('region', 'district', 'suburb'):
            location_df = self.con_website.table_lookup(df=location_df, df_lookup_column_list=['id_%s_tm' % tbltype],
                                                        table='analytics_%s' % tbltype,
                                                        table_lookup_column_list=['id_%s_tm' % tbltype],
                                                        table_return_column_list=['id_%s' % tbltype],
                                                        return_suffix='_tblid', indicator=False)
        location_df = location_df.drop(['id_district_tm', 'id_region_tm', 'id_suburb_tm'], axis=1)
        location_df['last_updated'] = datetime.datetime.now()
        self.location_df = location_df.rename(columns={
            'id_region_tblid': 'id_region',
            'id_district_tblid': 'id_district',
            'id_suburb_tblid': 'id_suburb'
        })

    def run_adjacent_suburbs(self):
        """Populates self.adjacent_suburbs_df for database table `adjacent_suburbs`"""
        suburbs_list = pd.DataFrame(columns=['AdjacentSuburbId', 'SuburbId'])
        for index, row in self.districts.iterrows():
            suburbs = json_normalize(json.loads(json.dumps(row['Suburbs'])), 'AdjacentSuburbs', ['SuburbId', 'Name'])
            suburbs.columns = ['AdjacentSuburbId', 'SuburbId', 'Name']
            suburbs = suburbs.drop('Name', axis=1)
            suburbs_list = pd.concat([suburbs_list, suburbs])

        # get rid of rows where suburb == adjacent suburb (the api lists the own suburb as an adjacent suburb)
        suburbs_list['check'] = suburbs_list['AdjacentSuburbId'] - suburbs_list['SuburbId']
        suburbs_list = suburbs_list[suburbs_list['check'] != 0]
        suburbs_list = suburbs_list.drop('check', axis=1)
        suburbs_list.columns = ['id_adjacent_suburb_tm', 'id_suburb_tm']
        suburbs_list = self.con_website.table_lookup(df=suburbs_list, df_lookup_column_list=['id_suburb_tm'],
                                                     table='analytics_suburb',
                                                     table_lookup_column_list=['id_suburb_tm'],
                                                     table_return_column_list=['id_suburb'], return_suffix='_tblid',
                                                    indicator=False)
        suburbs_list = self.con_website.table_lookup(df=suburbs_list, df_lookup_column_list=['id_adjacent_suburb_tm'],
                                                     table='analytics_suburb',
                                                     table_lookup_column_list=['id_suburb_tm'],
                                                     table_return_column_list=['id_suburb'], return_suffix='_adjtblid',
                                                    indicator=False)
        suburbs_list = suburbs_list.drop(['id_adjacent_suburb_tm', 'id_suburb_tm'], axis=1)
        suburbs_list['last_updated'] = datetime.datetime.now()
        self.adjacent_suburbs_df = suburbs_list.rename(columns={
            'id_suburb_tblid': 'id_suburb',
            'id_suburb_adjtblid': 'id_adjacent_suburb'
        })

    def update_region_table(self):
        """Update region metadata table"""
        self.con_website.update_scd_type_one(self.region_df, dimension_table='analytics_region', key='id_region',
                                             attributeslist=['id_region_tm', 'name', 'last_updated'],
                                             lookupatts=['id_region_tm'], type1atts=['name', 'last_updated'])
        self._region_updated = True

    def update_district_table(self):
        """Update district metadata table"""
        self.con_website.update_scd_type_one(self.district_df, dimension_table='analytics_district', key='id_district',
                                             attributeslist=['id_district_tm', 'name', 'last_updated'],
                                             lookupatts=['id_district_tm'], type1atts=['name', 'last_updated'])
        self._district_updated = True

    def update_suburb_table(self):
        """Update suburb metadata table"""
        self.con_website.update_scd_type_one(self.suburb_df, dimension_table='analytics_suburb', key='id_suburb',
                                             attributeslist=['id_suburb_tm', 'name', 'last_updated'],
                                             lookupatts=['id_suburb_tm'], type1atts=['name', 'last_updated'])
        self._suburb_updated = True

    def write_location_table(self):
        """Only for first time writing, or after truncating"""
        self.run_location()
        self.con_website.append_df_to_table(df=self.location_df, table='analytics_location')

    def update_location_table(self):
        """Update location metadata table. This requires all 3 location tables to be updated"""
        self.run_location()
        self.con_website.add_new_records(df=self.location_df,
                                         df_lookup_column_list=['id_region', 'id_district', 'id_suburb'],
                                         table='analytics_location',
                                         table_lookup_column_list=['id_region', 'id_district', 'id_suburb'])
        self._location_updated = True

    def update_adjacent_suburbs_table(self):
        """Update adjacent suburbs metadata table. This requires suburb metadata table to be updated"""
        self.run_adjacent_suburbs()
        self.con_website.add_new_records(df=self.adjacent_suburbs_df,
                                         df_lookup_column_list=['id_suburb', 'id_suburb_adjacent'],
                                         table='analytics_adjacent_suburbs',
                                         table_lookup_column_list=['id_suburb', 'id_suburb_adjacent'])
        self._adjacent_suburbs_updated = True

with open('API.json') as file:
    location_api = json.load(file)
    location_api = location_api['location_api']

with open('website_connection.json') as file:
    web_con = json.load(file)

location_md = LocationMetadata(location_api=location_api,
                               connect_website=True, ws_user=web_con['ws_user'], ws_passwd=web_con['ws_passwd'],
                               ws_host=web_con['ws_host'], ws_db=web_con['ws_db'], ws_schema=web_con['ws_schema'])

In [6]:
location_md.adjacent_suburbs_df

,id_suburb,id_suburb_tm_adjtblid,id_adjacent_suburb,last_updated
0,4,1922.0,57.0,2017-05-22 02:12:24.059824
1,4,3308.0,1319.0,2017-05-22 02:12:24.059824
2,15,1529.0,54.0,2017-05-22 02:12:24.059824
3,18,1593.0,71.0,2017-05-22 02:12:24.059824
4,24,2494.0,61.0,2017-05-22 02:12:24.059824
5,54,3181.0,15.0,2017-05-22 02:12:24.059824
6,57,1923.0,4.0,2017-05-22 02:12:24.059824
7,57,3308.0,1319.0,2017-05-22 02:12:24.059824
8,61,2495.0,24.0,2017-05-22 02:12:24.059824
9,71,1855.0,18.0,2017-05-22 02:12:24.059824
10,80,1454.0,81.0,2017-05-22 02:12:24.059824
11,80,1863.0,82.0,2017-05-22 02:12:24.059824
12,81,1453.0,80.0,2017-05-22 02:12:24.059824
13,82,1453.0,80.0,2017-05-22 02:12:24.059824
14,85,1867.0,94.0,2017-05-22 02:12:24.059824
15,94,3241.0,85.0,2017-05-22 02:12:24.059824
16,95,1554.0,117.0,2017-05-22 02:12:24.059824
17,95,1744.0,123.0,2017-05-22 02:12:24.059824
18,95,1444.0,105.0,2017-05-22 02:12:24.059824
19,95,1657.0,162.0,2017-05-22 02:12:24.059824
20,95,1880.0,136.0,2017-05-22 02:12:24.059824
21,95,1883.0,147.0,2017-05-22 02:12:24.059824
22,95,3055.0,97.0,2017-05-22 02:12:24.059824
23,95,3130.0,134.0,2017-05-22 02:12:24.059824
24,95,3435.0,101.0,2017-05-22 02:12:24.059824
25,95,3246.0,155.0,2017-05-22 02:12:24.059824
26,97,1554.0,117.0,2017-05-22 02:12:24.059824
27,97,1744.0,123.0,2017-05-22 02:12:24.059824
28,97,1444.0,105.0,2017-05-22 02:12:24.059824
29,97,1519.0,125.0,2017-05-22 02:12:24.059824
...,...,...,...,...
5105,1945,3154.0,1947.0,2017-05-22 02:12:24.059824
5106,1945,3467.0,1915.0,2017-05-22 02:12:24.059824
5107,1945,3468.0,1924.0,2017-05-22 02:12:24.059824
5108,1946,3078.0,1923.0,2017-05-22 02:12:24.059824
5109,1947,2532.0,1921.0,2017-05-22 02:12:24.059824
5110,1947,2533.0,1922.0,2017-05-22 02:12:24.059824
5111,1947,3065.0,1916.0,2017-05-22 02:12:24.059824
5112,1947,3076.0,1920.0,2017-05-22 02:12:24.059824
5113,1947,3081.0,1925.0,2017-05-22 02:12:24.059824
5114,1947,3136.0,1939.0,2017-05-22 02:12:24.059824
5115,1947,3138.0,1981.0,2017-05-22 02:12:24.059824
5116,1947,3153.0,1938.0,2017-05-22 02:12:24.059824
5117,1947,3373.0,1927.0,2017-05-22 02:12:24.059824
5118,1947,3467.0,1915.0,2017-05-22 02:12:24.059824
5119,1947,3468.0,1924.0,2017-05-22 02:12:24.059824
5120,1947,2052.0,1918.0,2017-05-22 02:12:24.059824
5121,1947,3475.0,1945.0,2017-05-22 02:12:24.059824
5122,1948,2535.0,1942.0,2017-05-22 02:12:24.059824
5123,1952,2446.0,1960.0,2017-05-22 02:12:24.059824
5124,1960,3342.0,1952.0,2017-05-22 02:12:24.059824
5125,1980,3474.0,1944.0,2017-05-22 02:12:24.059824
5126,1981,2532.0,1921.0,2017-05-22 02:12:24.059824
5127,1981,2533.0,1922.0,2017-05-22 02:12:24.059824
5128,1981,3081.0,1925.0,2017-05-22 02:12:24.059824
5129,1981,3136.0,1939.0,2017-05-22 02:12:24.059824
5130,1981,3153.0,1938.0,2017-05-22 02:12:24.059824
5131,1981,3154.0,1947.0,2017-05-22 02:12:24.059824
5132,1981,3467.0,1915.0,2017-05-22 02:12:24.059824
5133,1981,3468.0,1924.0,2017-05-22 02:12:24.059824
5134,1981,3475.0,1945.0,2017-05-22 02:12:24.059824

In [4]:
location_md.update_adjacent_suburbs_table()

KeyError: 'id_suburb_adjacent'

In [ ]:
df2 = location_md.location_df.head()

In [ ]:
df2

In [ ]:
df = pd.DataFrame([[1, 1, 1], [1, 1, 2], [2, 2, 2], [3, 3, 3]], columns=['id_region', 'id_district', 'id_suburb'])

In [ ]:
dfm = pd.merge(df, df2, how='left', on=['id_region', 'id_district', 'id_suburb'], indicator=True)

In [ ]:
dfm

In [ ]:
add = dfm[dfm['ind']=='left_only']

In [ ]:
add

In [ ]:
location_md.suburb_df

In [ ]:
location_md.run_location()

In [ ]:
location_md.location_df

In [ ]:
# location_md.update_district_table()
location_md.update_region_table()
# location_md.update_suburb_table()
# location_md.update_location_table()
# location_md.update_adjacent_suburbs_table()

In [ ]:
a = pd.DataFrame([[1,2,3],[1,2,4]],columns=['one','two','three'])
b = a.copy()

In [ ]:
pd.merge(a, b, on='one', indicator=True)

In [ ]:
import datetime
a['new']=datetime.datetime.now()

In [ ]:
a

In [ ]:
a.rename(columns={'new': 'last_'})

In [ ]:
a.to_json(orient='records', date_format='iso')

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [ ]:
user='housingdata'; passwd='housingdata123'; host='housing-postgres.ct0tluqftf3s.ap-southeast-2.rds.amazonaws.com'
db='housingwebsite'
engine = create_engine('postgresql+psycopg2://%s:%s@%s:5432/%s' % (
            user, passwd, host, db))

In [ ]:
con = engine.connect()
con.execute("set search_path to website")

In [ ]:
con.execute("set search_path to website")

In [ ]:
df = pd.read_sql("SELECT * FROM analytics_region", con=con)

In [ ]:
df.drop(['id_region', 'last_updated'], axis=1)

In [ ]:
table = [[1, 'region', 13], [3, 'asd', 15]]
dfin = pd.DataFrame(table, columns=['id_region', 'name', 'id_region_tm'])
dfin

In [ ]:
df = df.set_index('name', drop=False)

In [ ]:
a=True
b=False
c=True

In [ ]:
df

In [ ]:
def test():
    print('a')
def test2():
    print('b')

In [ ]:
tt = {'a':12, 
     'tests': [test, test2]}

In [ ]:
tt['tests'][1]()

In [ ]:
df.rename(columns={'id_region':'regionid', 'last_updated':'dss_update'})

In [ ]:
if not a and b and c:
    print('exit')

In [ ]:
pd.merge(df, dfin, how='left', left_index=True, right_on='id_region', indicator=True, suffixes=('', '_tbl'))

In [ ]:
a = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])

In [ ]:
b = pd.DataFrame([[1, 2], [9, 9]], columns=['a', 'b'])

In [ ]:
a

In [ ]:
b

In [ ]:
pd.merge(a, b, how='left', left_on=['a', 'b'], right_on=['a', 'b'], indicator=True)

* check listing_id for new rows
* insert new rows
* check active rows in website table not in staging, and remove them
* check for changes to existing rows (no nede to take existing rows out cause they've been written already)
* add in new rows (and change version_from and version_to to new values)
* change in old listing_id rows version_from and version_to and version)

In [ ]:
r = a.region()

In [ ]:
engine = create_engine('postgresql+psycopg2://housingdata:housingdata123@housing-postgres.ct0tluqftf3s.ap-southeast-2.rds.amazonaws.com:5432/housingwebsite')

In [ ]:
try:
    con = engine.connect()
except exc.OperationalError:
    print('failed')
    raise exc.OperationalError

In [ ]:
con.execute("set search_path to website")

In [ ]:
a =con.execute("DELETE FROM analytics_region")  # autocommit

In [ ]:
pgconn = psycopg2.connect("""host='housing-postgres.ct0tluqftf3s.ap-southeast-2.rds.amazonaws.com'
                            dbname='housingwebsite' user='housingdata'
                          password='housingdata123'""")

In [ ]:
pgconn.execute('set search_path to website')

In [ ]:
conn = pygrametl.ConnectionWrapper(connection=pgconn)
conn.execute('set search_path to website')

In [ ]:
dim = Dimension(
    name='analytics_region',
    key='id_region',
    attributes=['name', 'last_updated'],
    lookupatts=['name'],
    targetconnection=conn
)
for rows in r:
    try:
        dim.insert(rows)
    except:
        conn.rollback()

conn.commit()
conn.close()